/* side bar header font size */
#sidebar h2 {
    font-size: 18px;
  }
/* side bar image size */
#sidebar img {
    max-width: 160px;
    max-height: 100%;
  }
/* side bar images spacing */
.grid-tiles {
    margin: 0px;
    row-gap: 5px;
  }
/* side bar active webpage border styling */
.active {
    border: solid 2px #4aa09b;
    border-radius: 7px;
    margin: -2px;
  }
